@tailwind base;
@tailwind components;
@tailwind utilities;

/*scrollbar untuk dkt whats popular*/
::-webkit-scrollbar{
    height: 8px;
    width: 12px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background: rgb(219, 219, 219);
}